.before-footer-section {
  margin-top: 128px;
  background: #cec4bc;
  height: 314px;
}

.before-footer-text-box {
  margin: 0 auto;
  padding-top: 100px;
  max-width: 1168px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 454px;
  align-items: center;
}

.before-footer-title-wrapper {
  max-width: 569px;
}

.before_footer_title {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #645c55;
}

.before_footer_title_text {
  font-weight: 400;
  font-size: 40px;
  line-height: 105%;
  color: #1b1a1a;
}

.before_footer_contact_list {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #1b1a1a;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 767px) {
  .footer {
    height: auto;
  }

  .before_footer_title {
    display: none;
  }

  .before-footer-section {
    text-align: center;
    margin-top: 50px;
    height: auto;
  }

  .before-footer-text-box {
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .before_footer_contact_list {
    padding-top: 30px;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

@media (max-width: 436px) {
  .before_footer_title_text {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 32px;
  }
}
