.footer {
  background: #f7f7f7;
  height: 204px;
}

.footer-box {
  max-width: 1168px;
  padding-top: 60px;
  margin: 0 auto;
  display: flex;
  column-gap: 690px;
}

.wishbone_partners {
  margin-bottom: 20px;
}

.all_rights {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  color: #645c55;
}

.social-media-box {
  padding-top: 62px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

@media (max-width: 767px) {
  .footer {
    height: auto;
  }

  .footer-box {
    padding-top: 45px;
    padding-bottom: 45px;
    column-gap: 160px;
    justify-content: center;
  }
}

@media (max-width: 436px) {
  .footer-box {
    padding-top: 45px;
    padding-bottom: 45px;
    column-gap: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
}
