.our-team-section {
  max-width: 1168px;
  margin: 0 auto;
  margin-top: 106px;
  display: flex;
  column-gap: 20px;
}

.our-team-text-wrapper {
  max-width: 378px;
}

.our_team_title {
  font-weight: 400;
  font-size: 32px;
  line-height: 119%;
  color: #403e3b;
}

.our_team_title_text {
  padding-top: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #645c55;
}

.our_team_button {
  display: block;
  padding-top: 41px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #1b1a1a;
  text-decoration: none;
}

.our-team-peoples-list {
  max-width: 773.33px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 36px;
}

.player {
  flex: 1 1 calc(50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
}

.player_name {
  font-weight: 400;
  font-size: 17px;
  line-height: 153%;
  color: #1b1a1a;
}

.player_position {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #645c55;
}

@media (max-width: 767px) {
  .our-team-section {
    margin-top: 50px;
    padding-left: 35px;
    align-items: center;
  }

  .our_team_title {
    text-align: center;
    font-size: 30px;
  }

  .our_team_title_text {
    padding-top: 10px;
    font-size: 14px;
  }

  .our_team_button {
    display: block;
    padding-top: 35px;
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
  }
}

@media (max-width: 436px) {
  .our-team-section {
    display: block;
    padding: 0;
  }

  .our-team-text-wrapper {
    margin: 0 auto;
    text-align: center;
  }

  .our_team_button {
    padding: 0;
    margin-top: 25px;
  }

  .our-team-peoples-list {
    padding-top: 50px;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 20px;
  }

  .player {
    padding-bottom: 15px;
    flex: 1 1 calc(50% - 10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .player:last-child:nth-child(odd) {
    flex: 1 1 100%;
    max-width: 50%;
    margin: 0 auto;
  }
}
