.our-team-section {
  max-width: 1168px;
  margin: 0 auto;
  margin-top: 106px;
  display: flex;
  column-gap: 20px;
}

.our-team-text-wrapper {
  max-width: 378px;
}

.our_team_title {
  font-weight: 400;
  font-size: 32px;
  line-height: 119%;
  color: #403e3b;
}

.our_team_title_text {
  padding-top: 14px;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #645c55;
}

.our_team_button {
  display: block;
  padding-top: 41px;
  padding-left: 25px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #1b1a1a;
  text-decoration: none;
}

.our-team-peoples-list {
  max-width: 773.33px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 36px;
}

.player {
  flex: 1 1 calc(50%);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 30px;
}

.player_name {
  font-weight: 400;
  font-size: 17px;
  line-height: 153%;
  color: #1b1a1a;
}

.player_position {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #645c55;
}
