.projects-section {
  height: 918px;
  background: #f7f7f7;
}

.featured-projects-box {
  max-width: 1200px;
  padding-top: 120px;
  padding-left: 18px;
  padding-right: 16px;
  margin: 0 auto;
}

.projects_title {
  font-weight: 400;
  font-size: 39px;
  line-height: 108%;
  color: #1b1a1a;
}

.projects_title_inner {
  max-width: 581px;
  padding-top: 15px;

  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #645c55;
}

.projects-list {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  column-gap: 18px;
}

.project_brewery {
  position: relative;
}

.brewery-inner {
  position: absolute;
  top: 40px;
  left: 40px;
}

.brewery_town {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #645c55;
}

.brewery_name {
  font-weight: 400;
  font-size: 23px;
  line-height: 130%;
  color: #403e3b;
}

.brewery_button {
  margin-top: 280px;
  padding-top: 11px;

  display: block;
  border-radius: 14px;
  width: 133px;
  height: 46px;
  background: #1b1a1a;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.project_footer {
  margin-top: 51px;
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: #1b1a1a;
  text-decoration: none;
}
