.staircase_section {
  margin-top: 100px;

  display: block;

  background-image: url("../resources/staircase.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
}

.staircase_text_wrapper {
  position: absolute;
  top: 266px;
  right: 75px;
  width: 285px;
}

.staircase_house {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #403e3b;
}

.staircase_house_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #645c55;
}
