@import url(introduce.css);
@import url(about-firm.css);
@import url(house.css);
@import url(process.css);
@import url(staircase.css);
@import url(gray_section.css);

html {
  margin: 0 auto;
  max-width: 1440px;

  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
