.swirling-staircase-section {
  display: block;

  background-image: url("../resources/swirling.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 600px;
}

.swirling_staircase_text_wrapper {
  position: absolute;
  top: 266px;
  left: 60px;
  width: 285px;
}

.swirling_staircase_house {
  font-weight: 400;
  font-size: 14px;
  line-height: 143%;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: #403e3b;
}

.swirling_staircase_house_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #645c55;
}
